.dark .gradient-leer-rojo,
.gradient-hablemos-rojo {
  background: linear-gradient(to bottom, #f5af19, #f12711);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-leer,
.gradient-hablemos-azul {
  background: linear-gradient(
    0deg,
    #0029ff 0%,
    #00a3ff 62.18%,
    rgba(0, 255, 240, 0.71) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.diamond {
  background:
    linear-gradient(
        to bottom right,
        #00fff0 0%,
        rgba(0, 163, 255, 0.8) 27%,
        rgba(0, 41, 255, 0) 50%
      )
      bottom right / 50% 50% no-repeat,
    linear-gradient(
        to bottom left,
        #00fff0 0%,
        rgba(0, 163, 255, 0.8) 27%,
        rgba(0, 41, 255, 0) 50%
      )
      bottom left / 50% 50% no-repeat,
    linear-gradient(
        to top left,
        #00fff0 0%,
        rgba(0, 163, 255, 0.8) 27%,
        rgba(0, 41, 255, 0) 50%
      )
      top left / 50% 50% no-repeat,
    linear-gradient(
        to top right,
        #00fff0 0%,
        rgba(0, 163, 255, 0.8) 27%,
        rgba(0, 41, 255, 0) 50%
      )
      top right / 50% 50% no-repeat;
}

.dark .sunlight {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.13%,
    rgba(255, 0, 0, 0) 100%
  );
}

.gradient-Card {
  background: rgba(0, 0, 0, 0.51);
}
.gradient-contact {
  background: rgba(45, 51, 73, 0.49);
}

.slick-slider .slick-dots li.slick-active button:before,
.slick-slider .slick-dots li button:before {
  color: #f12711;
}
.dark .slick-slider .slick-dots li.slick-active button:before,
.dark .slick-slider .slick-dots li button:before {
  color: #00fff0;
}

.boxBlue {
  width: 249px !important;
  height: 287px !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  background: linear-gradient(
    144deg,
    #0641d8 0.89%,
    rgba(12, 244, 189, 0.94) 100%
  ) !important;
}
.boxRed {
  width: 243px !important;
  height: 280px !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute !important;
  left: 10px !important;
  background: linear-gradient(
    144deg,
    #d80606 0.89%,
    rgba(244, 221, 12, 0.94) 100%
  ) !important;
}
.boxFace {
  width: auto !important ;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute !important;
  right: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}
.noneTitle {
  width: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  background: initial !important;
  border-radius: initial !important;
  color: #f1f5f9 !important;
  font-size: initial !important;
  line-height: initial !important;
  box-shadow: initial !important;
}
